<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Checkerboard</title>
    <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}" defer></script>
</head>
<body>
    <h1>Checkerboard Assignment</h1>
    <div id="checkerboard">
        {% for y in range (rows) %}
            {% if y%2 != 0 %}
                <div class="row">   
                    {% for x in range (columns) %}
                        {% if x%2 != 0%}        
                            <div class="boxTypeOne"></div>
                        {% endif %}
                        {% if x%2==0 %}
                            <div class="boxTypeTwo"></div>
                        {% endif %}
                    {% endfor %}
                </div> 
            {% endif %}
            {% if y%2 == 0 %}
                <div class="row">
                    {% for x in range (columns) %}
                        {% if x%2 != 0%}        
                            <div class="boxTypeTwo"></div>
                        {% endif %}
                        {% if x%2==0 %}
                            <div class="boxTypeOne"></div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
            <br>
        {% endfor %}
    </div>
</body>
</html>